<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Reviews Settings</h4>
    </div>
    <div class="card-body">
        <div class="form-group mb-3">
            <p class="fw-medium mb-2">Allow Reviews</p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="allowReviews" checked>
                <label class="form-check-label" for="allowReviews">Yes</label>
            </div>
        </div>
        <div class="form-group">
            <p class="fw-medium mb-2">Allow Guest Reviews</p>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="gaustReviews">
                <label class="form-check-label" for="gaustReviews">Yes</label>
            </div>
        </div>
    </div>
</div>