<div class="card">
    <div class="card-header">
        <h5 class="card-title mb-0">Upcoming</h5>
    </div>
    <div class="card-body">
        <div class="mb-1 border rounded">
            <div class="p-2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-7">
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <input type="checkbox" class="form-check-input rounded-circle mt-0 fs-16" id="task1">
                            <a href="#!" class="link-dark fw-medium"><span class="text-primary fw-semibold">Morning
                                    Stand-up : </span> Host the daily stand-up meeting with the team.</a>
                        </div>
                    </div> <!-- end col-->
                    <div class="col-md-5">
                        <div class="d-flex align-items-center gap-3 justify-content-md-end">
                            <div class="flex-shrink-0">
                                <span class="badge badge-outline-primary">Upcoming</span>
                            </div>

                            <ul class="list-inline fs-13 text-end flex-shrink-0 mb-0">
                                <li class="list-inline-item">
                                    <span class="fw-semibold">25 May</span>
                                </li>
                            </ul>
                            <div class="flex-shrink-0">
                                <span class="badge badge-soft-success p-1">Low</span>
                            </div>
                            <div class="avatar-group ps-3">
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-9.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                            </div>
                            <div class="dropdown dropend">
                                <a href="javascript: void(0);" class="ps-1" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="bx bx-dots-vertical-rounded fs-18"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-edit-alt me-2"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-detail me-2"></i>View Tasks
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-trash me-2"></i>Delete
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end d-flex-->

                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div> <!-- end card-body-->
        </div>
        <div class="mb-1 border rounded mt-3">
            <div class="p-2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <input type="checkbox" class="form-check-input rounded-circle mt-0 fs-16" id="task1">
                            <a href="#!" class="link-dark fw-medium"><span class="text-primary fw-semibold">Client
                                    Follow-up : </span> Send follow-up emails to potential clients.</a>
                        </div>
                    </div> <!-- end col-->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center gap-3 justify-content-md-end">
                            <div class="flex-shrink-0">
                                <span class="badge badge-outline-primary">Upcoming</span>
                            </div>

                            <ul class="list-inline fs-13 text-end flex-shrink-0 mb-0">
                                <li class="list-inline-item">
                                    <span class="fw-semibold">26 May</span>
                                </li>
                            </ul>
                            <div class="flex-shrink-0">
                                <span class="badge badge-soft-danger p-1"><i class="bx bxs-circle fs-10"></i>
                                    Urgent</span>
                            </div>
                            <div class="avatar-group ps-3">
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-10.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-9.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-8.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-1.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                            </div>
                            <div class="dropdown dropend">
                                <a href="javascript: void(0);" class="ps-1" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="bx bx-dots-vertical-rounded fs-18"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-edit-alt me-2"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-detail me-2"></i>View
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-trash me-2"></i>Delete
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end d-flex-->

                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div> <!-- end card-body-->
        </div>
        <div class="mb-1 border rounded mt-3">
            <div class="p-2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <input type="checkbox" class="form-check-input rounded-circle mt-0 fs-16" id="task1">
                            <a href="#!" class="link-dark fw-medium"><span class="text-primary fw-semibold">Content
                                    Creation : </span> Write and edit content for the company blog.</a>
                        </div>
                    </div> <!-- end col-->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center gap-3 justify-content-md-end">
                            <div class="flex-shrink-0">
                                <span class="badge badge-outline-primary">Upcoming</span>
                            </div>

                            <ul class="list-inline fs-13 text-end flex-shrink-0 mb-0">
                                <li class="list-inline-item">
                                    <span class="fw-semibold">27 May</span>
                                </li>
                            </ul>
                            <div class="flex-shrink-0">
                                <span class="badge badge-soft-success p-1">Low</span>
                            </div>
                            <div class="avatar-group ps-3">
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-2.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-8.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                            </div>
                            <div class="dropdown dropend">
                                <a href="javascript: void(0);" class="ps-1" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="bx bx-dots-vertical-rounded fs-18"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-edit-alt me-2"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-detail me-2"></i>View Tasks
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-trash me-2"></i>Delete
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end d-flex-->

                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div> <!-- end card-body-->
        </div>
        <div class="mb-1 border rounded mt-3">
            <div class="p-2">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-6">
                        <div class="d-flex align-items-center justify-content-start gap-2">
                            <input type="checkbox" class="form-check-input rounded-circle mt-0 fs-16" id="task1">
                            <a href="#!" class="link-dark fw-medium"><span class="text-primary fw-semibold">Software
                                    Update : </span> Install and test the latest software updates.</a>
                        </div>
                    </div> <!-- end col-->
                    <div class="col-md-6">
                        <div class="d-flex align-items-center gap-3 justify-content-md-end">
                            <div class="flex-shrink-0">
                                <span class="badge badge-outline-primary">Upcoming</span>
                            </div>

                            <ul class="list-inline fs-13 text-end flex-shrink-0 mb-0">
                                <li class="list-inline-item">
                                    <span class="fw-semibold">27 May</span>
                                </li>
                            </ul>
                            <div class="flex-shrink-0">
                                <span class="badge badge-soft-danger p-1">High</span>
                            </div>
                            <div class="avatar-group ps-3">
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-5.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-6.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                                <div class="avatar h-auto w-auto">
                                    <img src="assets/images/users/avatar-7.jpg" alt=""
                                        class="rounded-circle avatar-sm border border-light border-2">
                                </div>
                            </div>
                            <div class="dropdown dropend">
                                <a href="javascript: void(0);" class="ps-1" data-bs-toggle="dropdown"
                                    aria-expanded="false"><i class="bx bx-dots-vertical-rounded fs-18"></i></a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-edit-alt me-2"></i>Edit
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-detail me-2"></i>View Tasks
                                    </a>
                                    <a class="dropdown-item" href="javascript: void(0);">
                                        <i class="bx bx-trash me-2"></i>Delete
                                    </a>
                                </div>
                            </div>
                        </div> <!-- end d-flex-->

                    </div> <!-- end col-->
                </div> <!-- end row-->
            </div> <!-- end card-body-->
        </div>
    </div>
</div>