<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">General Information</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="product-name" class="form-label">Product Name</label>
                        <input type="text" id="product-name" class="form-control" placeholder="Enter Name" value="">
                    </div>
                </form>
            </div>

            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="crater" class="form-label">Categories Created By</label>
                        <select selectFormInput  class="form-control" id="crater" data-choices data-choices-groups
                            data-placeholder="Select Crater">
                            <option value="">Select Crater</option>
                            <option value="Seller">Seller</option>
                            <option value="Admin">Admin</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control bg-light-subtle" id="description" rows="5"
                        placeholder="Type description"></textarea>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="mb-3">
                    <label for="ingredients" class="form-label"> Ingredients</label>
                    <textarea class="form-control bg-light-subtle" id="ingredients" rows="5"
                        placeholder="Type Ingredients Name"></textarea>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="mb-3">
                    <label for="product-id" class="form-label">Price Range</label>
                    <div id="product-price-range" #slider class="my-3"></div>
                    <nouislider class="m-0" [config]="basicSliderconfig" [(ngModel)]="priceRange"></nouislider>

                    <div class="formCost d-flex gap-2 align-items-center mt-2">
                        <input class="form-control form-control-sm text-center" type="text" id="minCost"
                            [(ngModel)]="priceRange[0]" value="13">
                        <span class="fw-semibold text-muted">to</span>
                        <input class="form-control form-control-sm text-center" type="text" id="maxCost"
                            [(ngModel)]="priceRange[1]" value="30">
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="cuisine-type" class="form-label">Cuisine Type</label>
                        <input type="text" id="cuisine-type" class="form-control" placeholder="Enter Type" value="">
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="food-type" class="form-label">Food Type</label>
                        <select class="form-control" id="food-type" data-choices data-choices-groups
                            data-placeholder="Select Food-type">
                            <option value="">Select Food Type</option>
                            <option value="Veg">Veg</option>
                            <option value="Non-vag">Non-veg</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="col-lg-6">
                <form>
                    <div class="">
                        <label for="rating" class="form-label mb-2">Rating</label>
                        <div>
                            <div id="rater-message" dir="ltr"></div>
                            <ng-template #step let-fill="fill">
                                @if (fill > 0) {
                                <i
                                  class="ri-star-fill text-warning fs-3"
                                  [style.width.%]="fill"
                                ></i>
                                } @else {
                                <i class="ri-star-fill text-muted opacity-25 fs-3"> </i>
                                }
                              </ng-template>
                              <ngb-rating
                                [(rate)]="readonly"
                                [readonly]="false"
                                [starTemplate]="step"
                                [max]="5"
                              />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="p-3 mb-3 rounded">
    <div class="row justify-content-end g-2">
        <div class="col-lg-3">
            <a href="#!" class="btn btn-outline-secondary w-100"><i class="ri-save-line"></i> Save Change</a>
        </div>
        <div class="col-lg-2">
            <a href="#!" class="btn btn-primary w-100"><i class="ri-close-circle-line"></i> Cancel</a>
        </div>
    </div>
</div>