<div class="row">
    <div class="col-lg-12">
         <div class="card bg-location text-center">
              <div class="bg-overlay rounded"></div>
              <div class="row align-items-end justify-content-center">
                   <div class="col-lg-6">
                        <h1 class="text-white fw-bold">Visit Us At Los Angeles Locations</h1>
                        <p class="text-white fw-semibold fs-15">1607 Columbia Road Aurora, Smith Street West CO 80014</p>
                        <a href="javascript:void(0);" class="btn btn-danger"><i class="ri-direction-line me-2"></i> Get Directions</a>
                   </div>
              </div>
         </div>
    </div>
</div>