<div class="row">
  <!-- <div class="col-xl-6 col-lg-8">
    <app-product-photo />
  </div> -->
  <!-- <div class="col-xl-6 col-lg-8"> -->
  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title mb-0"> {{ isEdit ? 'Editar' : 'Crear' }} Categoría</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <form [formGroup]="formGroup">
              <div class="mb-3">
                <label for="product-name" class="form-label">Nombre de la Categoría</label>
                <input type="text" id="product-name" class="form-control" placeholder="Ingrese el nombre"
                  formControlName="name" />
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
    <div class="p-3 mb-3 rounded">
      <div class="row justify-content-end g-2">
        <div class="col-lg-3">
          <div class="btn btn-outline-secondary w-100"><i class="ri-close-circle-lineri-save-line"
              [routerLink]="['/categories/listing']"></i> Cancelar</div>
        </div>
        <div class="col-lg-4" (click)="save()">
          <div class="btn btn-primary w-100" [ngClass]="formGroup.invalid ? 'btn-invalid' : ''"><i
              class="ri-save-line"></i>
            Guardar Cambios</div>
        </div>
      </div>
    </div>
  </div>
</div>