<div class="modal-dialog modal-dialog-centered modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalCenterTitle">Imprimir Ticket</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModalFunc()"></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="ticketSelect">Seleccione el ticket a imprimir:</label>
            <select id="ticketSelect" class="form-control" [(ngModel)]="selectedTicketId">
              @for (ticket of tickets; track $index) {
              <option [value]="ticket.name">
                {{ ticket.name }}
              </option>
              }
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <!-- imprimir ticket -->
      <button type="button" class="btn btn-primary" (click)="printTicket()">Imprimir Ticket</button>
      <button type="button" class="btn btn-secondary" (click)="closeModalFunc()">Cerrar</button>
      <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
    </div>
  </div>
</div>
