<div class="form-check mb-3">
    <input type="checkbox" class="form-check-input" id="checkbox-veg">
    <label class="form-check-label" for="checkbox-veg">Veg Only</label>
</div>
<div class="row">
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center bg-light">
                        <img src="assets/images/food-icon/pic12.png" alt="" class="img-fluid rounded">
                        <span class="position-absolute top-0 start-0 p-2">
                             <span class="badge bg-danger fs-11">Best Seller</span>
                        </span>
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Italian Burata Pizza</a>
                             <p class="fs-5 fw-normal mb-0">12-Inch</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.3/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-danger me-1 fs-12"></i>Non veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$12.00 <small class="text-decoration-line-through text-muted ms-1">$15.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center  bg-light">
                        <img src="assets/images/food-icon/pic13.png" alt="" class="img-fluid rounded">
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Shanghai Noodles</a>
                             <p class="fs-5 fw-normal mb-0">Large bowl</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.1/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-success me-1 fs-12"></i>Veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$13.00 <small class="text-decoration-line-through text-muted ms-1">$15.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center bg-light">
                        <img src="assets/images/food-icon/pic19.png" alt="" class="img-fluid rounded">
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Veg Indian Thali</a>
                             <p class="fs-5 fw-normal mb-0">Single Person</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.5/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-success me-1 fs-12"></i>Veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$14.00 <small class="text-decoration-line-through text-muted ms-1">$15.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center bg-light">
                        <img src="assets/images/food-icon/pic15.png" alt="" class="img-fluid rounded">
                        <span class="position-absolute top-0 start-0 p-2">
                             <span class="badge bg-danger fs-11">Best Seller</span>
                        </span>
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Meat Tacos</a>
                             <p class="fs-5 fw-normal mb-0">3 tacos</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.3/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-danger me-1 fs-12"></i>Non veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$15.00 <small class="text-decoration-line-through text-muted ms-1">$17.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center bg-light">
                        <img src="assets/images/food-icon/pic16.png" alt="" class="img-fluid rounded">
                        <span class="position-absolute top-0 start-0 p-2">
                             <span class="badge bg-danger fs-11">Best Seller</span>
                        </span>
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Spaghetti</a>
                             <p class="fs-5 fw-normal mb-0">Large bowl</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.2/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-success me-1 fs-12"></i>Veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$13.00 <small class="text-decoration-line-through text-muted ms-1">$15.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-6">
         <div class="card">
              <div class="card-body">
                   <div class="position-relative text-center bg-light">
                        <img src="assets/images/food-icon/pic17.png" alt="" class="img-fluid  rounded">                                                       
                   </div>
                   <div class="d-flex align-items-center justify-content-between gap-2 mt-3">
                        <div>
                             <a href="#!" class="text-dark fs-16 fw-semibold">Chocolate Cake</a>
                             <p class="fs-5 fw-normal mb-0">Single</p>
                        </div>
                        <div class="text-end">
                             <p class="badge bg-light fs-13 mb-1 text-dark py-1 px-2"><i class="ri-star-fill text-warning me-1"></i>4.2/5</p>
                             <p class="mb-0"><i class="ri-circle-fill text-danger me-1 fs-12"></i>Non veg</p>
                        </div>
                   </div>
              </div>
              <div class="card-footer">
                   <div class="d-flex align-items-center justify-content-between">
                        <div>
                             <p class="text-primary mb-0 fw-medium mb-1 fs-14">Regular Price</p>
                             <p class="text-dark fw-semibold fs-16 mb-0">$10.00 <small class="text-decoration-line-through text-muted ms-1">$12.00</small></p>
                        </div>
                        <div class="d-flex align-content-center gap-1">
                             <a href="#!" class="btn btn-soft-primary avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-shopping-basket-2-line align-middle fs-20"></i></a>
                             <a href="#!" class="btn btn-soft-danger avatar-sm rounded d-flex align-items-center justify-content-center"><i class="ri-heart-2-line align-middle fs-20"></i></a>
                        </div>
                   </div>
              </div>
         </div>
    </div>
</div>
<div class="mb-3">
    <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-end mb-0">
              <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="ri-arrow-left-s-line"></i></a></li>
              <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
              <li class="page-item"><a class="page-link" href="javascript:void(0);"><i class="ri-arrow-right-s-line"></i></a></li>
         </ul>
    </nav>
</div>