<div class="card food-bg p-4">
    <div class="bg-overlay rounded"></div>
    <div class="card-body ps-4">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="fw-bold text-white lh-base">Healthy Food is the key to your good mood</h1>
                <p class="fs-18 text-white">For all biryani lovers get $13 off all Biryani based meals.</p>
                <a href="javascript:void(0);" class="btn btn-light"><i class="ri-shopping-basket-2-line"></i> Order Food</a>
            </div>
        </div>
    </div>
</div>