<div class="row">
    <div class="col-xl-8">
        <app-recently-assigned />
        <app-in-progress />
        <app-up-coming />
    </div>
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="offcanvas-xxl offcanvas-start h-100" tabindex="-1" id="EmailSidebaroffcanvas"
                    aria-labelledby="EmailSidebaroffcanvasLabel">
                    <div class="card mb-0" data-simplebar="">
                        <div class="card-body  w-100">
                            <div class="d-grid mb-3">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#compose-modal">Add Tasks</button>
                            </div>
                            <div class="search-bar">
                                <span><i class="bx bx-search-alt"></i></span>
                                <input type="search" class="form-control" id="search" placeholder="Search task...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-application-design />
    </div>
</div>